@model MVC.Models.Pedidos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pedidos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restaurantes.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurantes.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servicios.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicios.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_pedido }) |
    @Html.ActionLink("Back to List", "Index")
</p>
