@model IEnumerable<MVC.Models.Salas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ambiente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto.img_foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurantes.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ambiente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Foto.img_foto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurantes.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_sala }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_sala }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_sala })
        </td>
    </tr>
}

</table>
